<% action = ( post.persisted? ? post_url(post) : posts_url) %>
<% action_method = ( post.persisted? ? "PATCH" : "POST") %>
<% button_value = ( post.persisted? ? "Edit post" : "Create post") %>

<form action="<%= action %>" method="POST">
  <input type="hidden" name="_method" value="<%= action_method %>" >
  
  <input type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <label for="post_sub_id">Pick a Subs</label>
  <input type="hidden" 
    name="post[sub_ids][]"  
    value="">
  <% subs.each do |sub| %>
    <input type="checkbox" 
      name="post[sub_ids][]" 
      id="post_sub_ids_<%= sub.id %>" 
      value="<%= sub.id %>"
      <%= "checked" if post.subs.include?(sub) %>
      >
    <label for="post_sub_ids_<%= sub.id %>"><%= sub.title %></label><br>
  <% end %>
  
  <label for="post_title">Title</label>
  <input type="text" 
    name="post[title]" 
    id="post_title" 
    value="<%= post.title %>"><br>
    
  <label for="post_url">Url</label>
  <input type="text" 
    name="post[url]" 
    id="post_url" 
    value="<%= post.url %>"><br>
    
  <label for="post_content">Content</label>
  <input type="text" 
    name="post[content]" 
    id="post_content" 
    value="<%= post.content %>"><br>
  
  <input type="submit" value="<%= button_value %>">
</form>