

<h1><%= @post.title %></h1>

<h2> <%= link_to "Check out this link",  "http://#{@post.url.html_safe}" %></h2>
<p> <%= @post.content %></p>
<p> By <%= @post.author.username %> </p>
<p>Subs: </p>
<ul>
<% @post.subs.each do |sub| %>
   <li><%= sub.title %></li>
<% end %>
</ul>

<% if !current_user.nil? && current_user.id == @post.author_id %>
<%= link_to "Edit this post", edit_post_url(@post) %>
<%= button_to "Delete this post", post_url(@post), method: :delete %>
<% end %>
<br>
<p><%= link_to "Make a comment", new_post_comment_url(@post) %></p>
<h3>Comments: </h3>
<% @post.top_level_comments.each do |comment| %>
  <p>Username: <%= comment.author.username.capitalize %><br>
  <%= link_to "Comment: #{comment.content.html_safe}", comment_url(comment) %>

</p>
<% end %>

